.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    align-items: center;
    padding-bottom: 2rem;
    .imgRedes{
        display: flex;
        
    }
    .imgFooter{
        width: 54px;
    }
    
}