.headerIndex{
    margin-bottom: 3rem;
    padding: 5px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(182, 207, 182) ;
}

.mainIndex{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 0 8rem;
    margin-bottom: 4rem;
    border-bottom: 3px solid rgb(182, 207, 182) ;
    .textoIndex{
        width: 100%;
        .tituloIndex{
            display: flex;
            justify-content: start;
            margin-bottom: 2rem;
            font-family: "Caveat";
            font-size: 46px;
            
        }
        .parrafoIndex{
            font-family: "Caveat";
            font-size: 24px;
        }
    }
    
    
    

}
.masVendido{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-family: "Lobster";
}

.sectionIndex{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 3px solid rgb(182, 207, 182) ;
    
    .tarjetaIndex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        width: 45%;        
        margin-bottom: 3rem;
        border-radius: 5px;
        border: solid 2px #85FFBD;       
        background-color: #85FFBD;
    background-image: linear-gradient(0deg, #85FFBD 31%, #7dffd0 100%);
        color: rgb(77, 74, 74);
        
        
        }

        
   

    }
    
    
    .imgIndex{
        width: 100%;
        

        
    }
    .btnIndex{
        padding: 0 10px;
        border-radius: 10px;
        border-color:rgb(148, 202, 148) ;
        margin: 5px;
        background-color: rgb(223, 222, 222);
        &:hover, &:focus{
            background: rgb(82, 165, 158);
            color: #FFF;
            transition: background-color 0.5s ease-out;
            outline: 0;
        }
    }

    .imgMainIndex{
        width: 420px;
    }


