.headerUbicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: "Lobster";
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid rgb(182, 207, 182) ;
    
}

.mainUbicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
    border-bottom: 3px solid rgb(182, 207, 182) ;
    /*background-color: rgb(235, 235, 235);*/
    background-color: #85FFBD;
 background-image: linear-gradient(3deg, #85FFBD 32%, #7d9cff 100%);

}

.tarjetaUbicacion{
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        .tituloUbicacion{
            font-size: 40px;
            margin-bottom: 2.5rem;
            font-family: "Mouse Memoirs" ;

        }
        .parrafoUbicacion{
            font-family: "Mouse Memoirs";
            font-size: 24px;
            margin-bottom: 2rem;
        }
        .mapaUbicacion{
            width: 450px;
        }

        
        

    .imgUbicacion{
        margin-top: 1rem;
        width: 380px;
        height: 289px;
        

    }

}